:root {
  background-color: #eeeeee;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  max-width: 992px;
  margin: 0 auto;
}

nav.nav {
  margin: 0 15px 20px;
}

nav.nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
}

nav.nav > ul > li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  line-height: calc(3rem - 0.375rem * 2);
  padding: 0.375rem 0;
  font-size: 1rem;
  background-color: white;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  height: 50px;
}

nav.nav > ul > li + li {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 calc(70px + 5vw);
          flex: 1 0 calc(70px + 5vw);
  cursor: pointer;
  position: relative;
}

nav.nav > ul > li + li:hover {
  background-color: rgba(130, 130, 130, 0.16);
}

nav.nav > ul > li + li.state-on {
  background-color: rgba(130, 130, 130, 0.55);
  color: white;
}

nav.nav > ul > li + li > .price-filter {
  background-color: white;
  position: absolute;
  width: 100%;
  top: 50px;
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

nav.nav > ul > li + li > .price-filter > li {
  line-height: calc(3rem - 0.375rem * 2);
  padding: 0.375rem 0;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  color: black;
}

nav.nav > ul > li + li > .price-filter > li:hover {
  background-color: rgba(130, 130, 130, 0.16);
}

nav.nav > ul > li > .arrow {
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  background: linear-gradient(315deg, black 50%, transparent 50%);
}

nav.nav > ul > li > .arrow.up {
  -webkit-transform: translate(6px, 0px) rotate(-135deg);
          transform: translate(6px, 0px) rotate(-135deg);
}

nav.nav > ul > li > .arrow.down {
  -webkit-transform: translate(6px, -3px) rotate(45deg);
          transform: translate(6px, -3px) rotate(45deg);
}

ul.item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 15px;
}

ul.item-list > li {
  display: inline-block;
  margin: 10px 0px;
  -webkit-transition: -webkit-box-shadow .45s;
  transition: -webkit-box-shadow .45s;
  transition: box-shadow .45s;
  transition: box-shadow .45s, -webkit-box-shadow .45s;
}

ul.item-list > li:hover {
  -webkit-box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.25);
}

ul.item-list > li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 250px;
}

ul.item-list > li > div > .pic {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
}

ul.item-list > li > div > .pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul.item-list > li > div > .main-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  max-width: calc(100% - 250px);
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

ul.item-list > li > div > .main-info > .tour-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 150px;
          flex: 1 0 150px;
}

ul.item-list > li > div > .main-info > .tour-info > .company {
  display: block;
  padding: 1.2rem 0.75rem 0.375rem;
  font-size: .75rem;
}

ul.item-list > li > div > .main-info > .tour-info > .company > a {
  display: inline-block;
  text-decoration: none;
  color: #666;
}

ul.item-list > li > div > .main-info > .tour-info > .company > a > i {
  color: #999;
}

ul.item-list > li > div > .main-info > .tour-info > .company > a > i.checked {
  color: orange;
}

ul.item-list > li > div > .main-info > .tour-info > .tour-title {
  padding: 0.375rem 0.75rem;
  line-height: 1.5em;
}

ul.item-list > li > div > .main-info > .tour-info > .tour-title > a {
  text-decoration: none;
  color: #333;
  font-weight: 600;
}

ul.item-list > li > div > .main-info > .tour-info > .location {
  padding: 0.375rem 0.75rem;
  margin-left: 0.85rem;
  background-color: #eeeeee;
  font-size: .75rem;
  color: #666;
  font-weight: 600;
}

ul.item-list > li > div > .main-info > .tour-info > .location > .map-marker {
  color: #999;
  margin-right: 6px;
}

ul.item-list > li > div > .main-info > .tour-info > .tags {
  padding: 0.75rem;
}

ul.item-list > li > div > .main-info > .tour-info > .tags > span {
  display: inline-block;
  font-size: .75rem;
  border: 1px solid #03a9f4;
  padding: 0.375em 0.75em;
  border-radius: 1rem;
  color: #03a9f4;
  margin: 1px 2px;
}

ul.item-list > li > div > .main-info > .date-price-info {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul.item-list > li > div > .main-info > .date-price-info > .date-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul.item-list > li > div > .main-info > .date-price-info > .date-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .375rem;
  color: #03a9f4;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

ul.item-list > li > div > .main-info > .date-price-info > .date-list > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-decoration: none;
  color: #03a9f4;
  font-size: .8rem;
}

ul.item-list > li > div > .main-info > .date-price-info > .date-list > li > a > span {
  text-align: center;
  display: block;
  padding: 0.375em 0.75em;
  font-size: .8rem;
}

ul.item-list > li > div > .main-info > .date-price-info > .date-list > li > a > span.quantity {
  border: 1px solid #03a9f4;
  border-radius: .2rem;
}

ul.item-list > li > div > .main-info > .date-price-info > .date-list > li > .more-date {
  cursor: pointer;
  font-size: .8rem;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info {
  padding-right: 0.8rem;
  text-align: right;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a {
  text-decoration: none;
  color: inherit;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a > .price {
  font-size: .8rem;
  padding: 0.375rem 0;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a > .price > .highlight {
  color: #ff9800;
  font-size: 1.5rem;
  font-weight: 600;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a > .discount {
  font-size: .65rem;
  padding: 0.375rem 0;
  color: #666;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a > .discount .coin {
  display: inline-block;
  color: white;
  background-color: #ffc107;
  width: 20px;
  height: 20px;
  border: 3px solid #ffeb3b;
  border-radius: 50%;
  text-align: center;
  line-height: 18px;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a > .discount .highlight {
  color: #ff9800;
  font-size: 1.5rem;
  font-weight: 600;
}

ul.item-list > li > div > .main-info > .date-price-info > .price-info > a > .discount .highlight.small {
  font-size: 1rem;
}

nav.page {
  margin: 20px 15px;
}

nav.page > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav.page > ul > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  background-color: #eeeeee;
  padding: 1rem 0.9rem;
  line-height: 2rem;
  margin: 0 5px;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
  cursor: pointer;
}

nav.page > ul > li:hover {
  background-color: #878787;
}

nav.page > ul > li.pageNow {
  background-color: #878787;
}

nav.page > ul > i {
  cursor: pointer;
  padding: 1rem 1.2rem;
  font-size: 1.5rem;
  line-height: 2rem;
}

nav.page > ul > i:hover {
  background-color: #878787;
}

nav.page > ul > i.not-allowed {
  cursor: not-allowed;
}
/*# sourceMappingURL=main.css.map */